* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/** affichage modal **/

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#modal1 {
    background: rgba(0, 0, 0, 0.7);
}

.modal-wrapper {
    overflow: auto;
    width: 630px;
    height: 688px;
    max-width: calc(100vw - 20px);
    max-height: calc(100vh - 20px);
    padding: 36px 105px 45px 105px;
    background-color: white;
    border-radius: 10px;
    text-align: center
}

/** boutons pour fermer les modals **/

#close-modal1 {
  display: flex;
  justify-content: end;
  margin-right: -51px;
}

#close-modal2 {
  display: flex;
  justify-content: space-between;
  margin-left: -51px;
  margin-right: -51px;
}

.js-modal-close, .js-allModal-close {
  background-color: white;
  border: none;
  width: 24px;
  height: 24px;    
}

.close-modal {
  font-size: 12.01px;    
  display: flex;
  justify-content: center;
}

.return-modal {
  font-size: 21px;
}

/** titre de la modal **/

.modal-title {   
  font-family: 'Work Sans', sans-serif;
  font-size: 26px;
  color: black;
  font-weight: 400;
}

.line {
  border-top: solid 1px #B3B3B3;
  margin-top: 67.29px;
  width: 100%;
}

                                                              /******* modal 1 *******/
/** affichage projets **/

.modal-projects {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 9px;
	grid-row-gap: 4px;
	margin-top: 29px;
}

.modal-projects img {
	width: 100%;
  display: block;
}

/** bouton pour supprimer projets **/

.deleteElement {
  position: relative;
  border-radius: 2px;
  color: white;
  top: 23px;
  left: 51.41px;
  background-color: black;
  width: 17px;
  height: 17px;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;  
}

/** design bouton "ajouter une photo" **/

.btn-addPicture {    
  margin: 37px auto 0 auto;
  display: flex;
  justify-content: center;    
  width: 237px;
  padding-left: 0;
  padding-right: 0;
}

                                                                /******* modal 2 *******/

/** formulaire partie ajout photo **/

.addPics {
  background-color: #E8F1F6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  height: 169px;
  border-radius: 3px;
  
}

.addPics div {
  position: relative;
  overflow: hidden;
}

.addPics i {
  display: flex;
  justify-content: center;
  font-size: 60px;
  color: #B9C5CC;  
  margin-bottom: 10px;
}

.btn-upload {
  background-color: #CBD6DC;
  text-align: center;
  color: #306685;
  padding: 10px 25px;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 500;
}

#addImg {
  left: 0;
  top: 0;
  opacity: 0;
  position: absolute;
  font-size: 90px;
}

.addPics p {
  display: flex;
  justify-content: center;
  color: #444444; 
  margin-top: 10px; 
}

.maxHeightImg {
  max-height: 100%;
}
  
.hideDiv {
  display: none;
}

/** formulaire **/

.title-form, .selectionCategory {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#category {
    background-color: white;
}

#validate {
  background-color: #A7A7A7;
}

*:focus {
    box-shadow: 0 0 10px blue;
}

