* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#modal1 {
    background: rgba(0, 0, 0, 0.7);
}

.modal-wrapper {
    overflow: auto;
    width: 630px;
    height: 688px;
    max-width: calc(100vw - 20px);
    max-height: calc(100vh - 20px);
    padding: 36px 105px 45px 105px;
    background-color: white;
    border-radius: 10px;
    text-align: center
}

.modal-projects {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 9px;
	grid-row-gap: 4px;
	margin-top: 29px;
}

.modal-projects img {
	width: 100%;
    display: block;
}

#close-modal1 {
    display: flex;
    justify-content: end;
    margin-right: -51px;
}

#close-modal2 {
    display: flex;
    justify-content: space-between;
    margin-left: -51px;
    margin-right: -51px;
}

.js-modal-close, .js-allModal-close {
    background-color: white;
    border: none;
    width: 24px;
    height: 24px;    
}

.close-modal {
    font-size: 12.01px;    
    display: flex;
    justify-content: center;
}

.return-modal {
    font-size: 21px;
}

.deleteElement {
    position: relative;
    border-radius: 2px;
    color: white;
    top: 23px;
    left: 51.41px;
    background-color: black;
    width: 17px;
    height: 17px;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;  
}

.modal-title {   
    font-family: 'Work Sans', sans-serif;
    font-size: 26px;
    color: black;
    font-weight: 400;
}

.addPicture {
    background-color: #1D6154;
    color: white;
    margin: 37px auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 237px;
    padding-left: 0;
    padding-right: 0;
}

select {
    background-color: white;
}

.line {
    border-top: solid 1px #B3B3B3;
    margin-top: 67.29px;
    width: 100%;
}

*:focus {
    box-shadow: 0 0 10px blue;
}

.addPics div {
    position: relative;
    overflow: hidden;
}

  .addPics div input[type=file] {
    left: 0;
    top: 0;
    opacity: 0;
    position: absolute;
    font-size: 90px;
  }

  .btn-upload {
    background-color: #CBD6DC;
    text-align: center;
    color: #306685;
    padding: 10px 25px;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 500;
  }
  
  .addPics p {
    color: #444444;
    margin-bottom: 18px;
  }

  .addPics {
    background-color: #E8F1F6;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
    height: 169px;
    border-radius: 3px;
  }

  .title-form, .selectionCategory {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  /*.title-form input, .selectionCategory select {
    flex: 1;
  }*/

  .addPics i {
    font-size: 60px;
    color: #B9C5CC;
    margin-top: 18px;
  }

  .toto {
    max-height: 100%;
  }
  
  .masquerDiv {
    display: none;
  }